body {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 20px;
    padding-left: 20%;
}

button {
    outline: none;
    border: 0;
    padding: 1rem;
    background-color: white;

    font-size: 1.25rem;
    line-height: 1;
}

button:hover {
    color: red;
}

.react-calculator {
    position: relative;
    margin: 0 auto;
    width: 320px;
}

.screen-row {
    position: relative;
    width: 320px;
    height: 40px;
    outline: none;
    font-size: 2rem;
    line-height: 2;
    white-space: nowrap;
}

.functions button {
    position: relative;
    width: 320px;
    text-align: center;
}
