body {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
}

.react-calculator {
    width: 550px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
}

.input {
    display: table-cell;
    /* padding-right: 40px; */
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 94.5%;
    height: 60px;
    vertical-align: middle;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 0%;
    margin-left: 13px;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid lightgray;        
    border-radius: 0.2px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }


button:hover {
    background: rgb(201, 200, 200);
}

.functions button {
    width: 120px;
    height: 45px;
    text-align: center;    
    margin-top: 20px;
    margin-left: 40%;
}

.button-equations {
    margin: 10px;
}

.button-equations button {
    width: 100px;
    height: 45px;
    margin: 3px;
}

.button-numbers {
    margin: 10px;
}

.button-numbers button {
    width: 100px;
    height: 45px;
    margin: 3px;
}
